@charset "utf-8";
.impression {
  padding: 90px 0 60px;
  color:#5f5f5f;
}
h1 {
  color: red;
}
h2 {
  color: rgb(139, 44, 248);
}
h3 {
  color: #ff7e14;
}
.impression-title {
  margin-bottom: 5px;
}
.impression-text {
  margin-bottom: 5px;
}
span {
  color: rgb(16, 121, 156);
  font-weight: bold;
}